<div class="login-main-div">
    <div class="outer">
        <div class="middle">
            <div class="inner">

                <div class="login-panel">
                    <div id="content">
                        <div class="button-container">
                            <div class="home-primary-button">
                                <button mat-raised-button flex="80" color="primary" class="mat-raised mat-darkprimary" routerLink="/enforcement-lookup" routerLinkActive="active">Enforcement Lookup</button>
                            </div>
                            <div class="home-primary-button">
                                <button mat-raised-button flex="80" color="primary" class="mat-raised mat-darkprimary" routerLink="/query-history-lookup" routerLinkActive="active">Query History Lookup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>